<HTML>
<HEAD>
<TITLE>Galvanized Fern</TITLE>

<!-- Call the JW Player JavaScript file, jwplayer.js.
Replace WEB-DISTRIBUTION-DOMAIN-NAME with the domain name of your
CloudFront web distribution, for example, d1234.cloudfront.net
(begins with "d"). This causes a browser to download the JW Player file
before streaming begins.
-->

​<script src="http://dndm6u438fnmq.cloudfront.net/jwplayer.js"></script>
<script>jwplayer.key="xg7lUUpY65xghm9VBpQ6fYoHL10IKv1bR3cXcw==";</script>


<!-- <script type='text/javascript' src='http://content.jwplatform.com/libraries/HMN4zNS4.js'></script>-->
</HEAD>

<BODY>
<H1>Galvanized Fern</H1>

<!-- Replace RTMP-DISTRIBUTION-DOMAIN-NAME with the domain name of your
RTMP distribution, for example, s5678.cloudfront.net (begins with "s").

Replace VIDEO-FILE-NAME with the name of your .mp4 or .flv video file,
including the .mp4 or .flv filename extension. For example, if you uploaded
my-vacation.mp4, enter my-vacation.mp4. You might need to prepend "mp4:" to the
name of your video file, for example, mp4:my-vacation.mp4.
-->

<!-- <img src = 'http://dndm6u438fnmq.cloudfront.net/SampleVideo_1280x720_30mb.jpeg'> -->

<div id="myElement">Loading the player...</div>
<script type="text/javascript">
var playerInstance = jwplayer("myElement");
playerInstance.setup({
    file: "http://dndm6u438fnmq.cloudfront.net/SampleVideo_1280x720_30mb.mp4",
    image: "http://dndm6u438fnmq.cloudfront.net/whitetiger.jpeg",
    width: 640,
    height: 360,
    title: 'Basic Video Embed',
    description: 'A video with a basic title and description!',
    mediaid: '123456'
});
</script>


<!-- <iframe width="500" height="300" src="https://s3-us-west-1.amazonaws.com/video.bucket1/SampleVideo_1280x720_30mb.mp4
" frameborder="0" allowfullscreen></iframe> -->



</BODY>
</HTML>
